@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Congratulations on making it this far in our interview process! We're excited for what you could bring to the team and 
    we'd like to have you show off just a little here with this mini project. Bring some creativity to it, but don't spend too long - your time is important!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Check out the readme.md file in this repo for the acceptance criteria for your mini project. Remember: You shouldn't spend more than an hour or two on this!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Learn our API</h2>
        <p>This project will make use of the Novi AMS API to retrieve some member data. Check out the link below for our documentation!</p>
        <p><a class="btn btn-default" href=http://help.noviams.com/en/articles/2886438-getting-started-developing-with-the-novi-api">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>API Reference</h2>
        <p>After you've got the overview, check out the link below for the detailed API reference.</p>
        <p><a class="btn btn-default" href="https://api-docs.noviams.com/">API Reference &raquo;</a></p>
    </div>
</div>